article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;} a{text-decoration: none;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    background-image: url(assets/heart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER*/
#header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.image-logo {
    width: 150px;
    margin-top: 2rem;
}

.menu-list {
    display: flex;
    margin-top: 2rem;
}

.menu-link-nostyle{
    list-style: none;
    font-size: 20px;
    color: #E30059;
    margin: 0 1rem 0 1rem;
}
.menu-link {
    font-size: 20px;
    color: #E30059;
    margin: 0 1rem 0 1rem;
}
/*HEADER*/

/*INSTITUTO MAIN*/
.container-home {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10rem;
    margin-top: 10rem;
    max-width: 1366px;
}

.container-text {
    width: 40%;
}

.image-home {
    width: 400px;
}



/*INSTITUTO MAIN*/

/*DOAÇÃO MAIN*/
.container-campaign {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-text, .container-paragraph {
    width: 45%;
    margin-top: 2rem;
}

.container-links {
    width: 43%;
    margin: 2rem 0 0 0;
}

.campaign-title {
    font-size: 50px;
    font-weight: 600;
    margin: 2rem 0 0 0;
}

.campaign-subtitle {
    font-weight: 600;
    color: #E30059;
}

.campaign-paragraph {
    width: 430px;
}

.know-link {
    color: #3DB5B0;
}

.letter-icon {
    width: 24px;
    margin: 0 10px;
}

.read-link {
    color: #E30059;
    text-decoration: underline;
    font-weight: 600;
}

.container-data {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.container-bank {
    width: 320px;
    border-style: solid none solid solid;
    border-color: #85CFE8;
    border-width: 2px;
    border-radius: 20px 0 0 20px;
    line-height: 2;
}

.bank-paragraph {
    font-weight: 600;
    margin-left: 3rem;
}

.list-bank {
    list-style: none;
    margin-left: 3rem;
}

.list-payment {
    margin-left: 5rem;
    list-style: none;
    line-height: 2.5;
}
.list-payment li {
    font-weight: 600;
}

.container-payment {
    width: 320px;
    border: 2px solid #85CFE8;
    border-radius: 0 20px 20px 0;
}
/*DOAÇÃO MAIN*/

